body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap {
    background: steelblue;
    padding: 20px;
    text-align: center;
}

.wrap h3 {
    color: white;
}



#plus{
    color: green;
}

#minus{
    color: red;
}

#reset{
    color: rgb(50, 50, 255);
}